

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttons button{
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}


.content{
    background-color: #005490;
    height: 100vh;
}
header{
    text-align: center;
    color: #fff;
    padding-bottom: 3rem;
}
header h1{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
}
header h1 span{
    font-weight: 700;
}
section .container-el{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form button{
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 8px;
    background-color: transparent;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
}
form button:hover{
    background-color: #db6400;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.modal-content{
    width: 80%;
    max-width: 60rem;
    background-color: #eee;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #777;
    text-align: center;
    position: relative;
    animation: slide ease 0.8s;
}
@keyframes slide{
    0%{
        transform: translateY(-30rem);
    }
    100%{
        transform: translateY(0);
    }
}
.close{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
}

